.barraMedio {
    background-color: #c30d41;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.lados {
    width: 224px;
}

.iconCentre {
    width: 225px;
    height: 225px;
    font-size: 200px;
}

.sad {
    font-weight: 400;
    font-size: 60px;
    color: #56091F;
}

.mensaje {
    height: 325px;
    padding: 45px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mensajeT {
    font-weight: 500;
}